{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="{{user.avatar}}" class="avatar" alt="Avatar de {{ user.pseudo }}">
        </div>
            <p class="dark">Vous avez publié : {{user.comments | length}} commentaire</p>
        <div class="col-9"><h1>Bienvenue {{ user.pseudo }}</h1></div>
    </div>
</div>
{% endblock %}
