{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
        {% for epi in episode %}
        <div class="card m-5" style="width: 21rem;">
            <img src="{{ epi.coverImage }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ epi.title }}</h5>
                <p class="card-text">{{ epi.introduction }}</p>
                <audio   class:"" controls preload="none">
                    <source src="{{ epi.audio }}">
                </audio>
                    <a href="#" class="btn btn-primary">Plus d'infos</a>
                </div>
        </div>
        {% endfor %}
        </section>
    </main>
{% endblock %}
