{% extends "base.html.twig" %}

{% block title %}Ajouter une news{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Ajout d'un article</h1>
            {{ form_start(form) }}

            {{ form_widget(form) }}

            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}