/* .kenburns-left {
        -webkit-animation: kenburns-top-left 5s ease-out both;
        animation: kenburns-top-left 5s ease-out both;
}

@-webkit-keyframes kenburns-top-left {
        0% {
                -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
                -webkit-transform-origin: 84% 16%;
                transform-origin: 84% 16%;
        }

        100% {
                -webkit-transform: scale(1.25) translate(20px, -15px);
                transform: scale(1.25) translate(20px, -15px);
                -webkit-transform-origin: left top;
                transform-origin: left top;
        }
}

@keyframes kenburns-top-left {
        0% {
                -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
                -webkit-transform-origin: 84% 16%;
                transform-origin: 84% 16%;
        }

        100% {
                -webkit-transform: scale(1.25) translate(20px, -15px);
                transform: scale(1.25) translate(20px, -15px);
                -webkit-transform-origin: left top;
                transform-origin: left top;
        }
} **/
html, main {
        margin:0;
        padding:0;
        min-height:100%;
        position: relative;
     }
.section {
        min-height:100%;
        position:relative;
        padding-bottom:100px; 
     }
.home-title {
        position: absolute;
        top: 40%;
        left: 35%;
        transform: translate(-50%, -50%) rotate(-10deg);
        color: #444444;
        text-shadow: 1px 0px 1px #f0e7e7, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
.home-title-h1 {
        font-size: 3.5rem;
}
.card {
        width: 25rem;
        height: 45rem;
        margin: 5rem;
}
.card-title {
        margin-top: 15px;
        height: 120px;
}
.card-img-top {
        margin-top: 3rem;
        height: 250px;
        width: 250px;
}
.card-audio {
        margin-top: 40px;
}
.card-btn {
        margin-top: 50px;
}
.btn-infos {
        width: 150px;
        background-color: cyan;
}
.btn-edit {
        width: 150px;
        background-color: rgb(255, 214, 80);
}
.full-episode {
        padding-bottom: 170px;
     }
.full-episode a {
        background-color: rgb(22, 174, 134);
}
.pagination {
        margin-bottom: 6rem;
        justify-content: center;
}
.footer {
        background: rgb(51, 51, 51);
        color: white;
        position:absolute;
        bottom:0;  
        width:100%;
        height:145px;
     }
.footer-img {
        margin: 10px;
     }
