{% extends "base.html.twig" %}

{% block title %}Modification{% endblock %}

{% block body %}
    <div class="container">
        <div class="m-3">
            <h1>Modifier le rôle de l'utilisateur</h1> 
        </div>
        <div class="m-3 fs-4">
            {{ form(userForm) }}
        </div>
    </div>
{% endblock %}