{% extends "base.html.twig" %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="table-responsive-sm">
    <h1 class="m-3 text-center">Liste des utilisateurs et gestion des roles</h1> 
    <table class="table">
        <thead class="m-3">
            <tr>
                
                <th scope="col">Email</th>
                <th scope="col">Rôles</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur /
                            {% elseif role == "ROLE_ADMIN" %}
                                Administarteur /
                            {% endif %}
                            
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}" class="btn btn-warning">Modifier</a></td>
                    <td><a href="{{ path('admin_delete_utilisateur', {'id': user.id}) }}" class="btn btn-danger">Sprimmer</a></td>
                </tr>
            {% else %}
                <tr>
                    <td class="colspan=5">Pas d'utilisateur inscrit</td>
                </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}