{% extends 'base.html.twig' %}

{% block title %}Articles en cours{% endblock %}

{% block body %}
<main class="container">
        <section class="row">
        
    {% for art in cedric %}
            <div class="card">
            <div class="card-header">
                <h3>News non divulgué</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ art.title }}</h5>
                <a href="{{ art.url }}" target="_blank" class="btn btn-primary">Voir l'article</a>
            </div>
            <div class="card-body">
                 <a href="#" class="btn btn-danger">Envoyer</a>
            </div>

        </div>
        <h5 class="card-title"></h5>
    {% endfor %}

    </section>
</main>

{% endblock %}
