<footer class="bg-primary py-3 text-center mt-5">
    <div>    
        <p>Blog burgertech</p>
    </div>
    <div class="">
    <img src="/images/Facebook.png" alt="">
    <img src="/images/Twitter.png" alt="">
    <img src="/images/YouTube.png" alt="">
    </div>
    <div class="btn-success"><a href="#">Un café pour le développeur</a></div>
</footer>