<footer class="footer py-3 text-center mt-5">
    <div>    
            <p>Blog burgertech</p>
    </div>
    <div class="footer-logos">
            <img class="footer-img" src="/images/Facebook.png" alt="">
            <img class="footer-img" src="/images/Twitter.png" alt="">
            <img class="footer-img" src="/images/YouTube.png" alt="">
    </div>
</footer>