<footer class="footer py-3 text-center mt-5">
    <div>    
            <p>Apéro des papas manchots</p>
    </div>
    <div class="footer-logos">
            <a href="https://twitter.com/BurgerTech_fr" target="_blank">
                <img class="footer-img" src="/images/Twitter.png" alt="">
            </a>
            <a href="https://www.youtube.com/channel/UCHb4oedwrFg2W6H99vI2RKQ" target="_blank">
                <img class="footer-img" src="/images/YouTube.png" alt="">
            </a>
    </div>
</footer>