<footer class="footer py-3 text-center mt-5">
    <div>    
        <p>Nous retrouver sur les réseaux</p>
    </div>
    <div class="footer-logos">
        <a href="https://discord.com/invite/EaK7DNsqwB" target="_blank">
            <img class="footer-img" src="/icons/discord.png" alt="icon twitter">
        </a>
        <a href="https://twitter.com/Donkluivert" target="_blank">
            <img class="footer-img" src="/icons/x.png" alt="icon twitter">
        </a>
    </div>
</footer>