{% extends 'base.html.twig' %}

{% block title %}Page non trouvé{% endblock %}
{% block body %}
        <div class="container mt-3 col-6">
            <h1 class="">Trop occupé(e) pour trouver la page erreur 403</h1>
            <img class="img-thumbnail" src="/images/error-page.jpg" alt="Photo page erreur">
        </div>
{% endblock %}