{% extends "base.html.twig" %}

{% block body %}
    <div class="card m-5">
        <div class="card-body">
            <h5 class="card-title">{{ articles.title }}</h5>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="#" class="btn btn-warning ms-5">Partager</a>
                {% endif %}
        </div>
    </div>
{% endblock %}