{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
        
        {% for art in articles %}
            <div class="card">
                <div class="card-header">
                    Les news!
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ art.title }}</h5>
                    <a href="{{ art.url }}" target="_blank" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
            <h5 class="card-title"></h5>
        {% endfor %}

        </section>
    </main>
{% endblock %}
