{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block body %}
	<section class="container comment">
		<div class="col-lg-10 col-sm-12 mx-auto">
			<h1 class="text-center m-3">Ajout d'un article</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
			<div class="text-center">
					<button type="submit" class="btn btn-primary">Ajouter</button>
			</div>
				{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
