{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Ajout d'un article</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-primary">Ajouter</button>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
